<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DisinfectionEditTimerFourActivity"/>
        <activity android:name=".ui.DisinfectionLampTimerListActivity"/>
        <activity android:name=".ui.DisinfectionLampRecordsActivity"/>
        <activity android:name=".ui.DisinfectionLampDetailActivity" />
        <activity android:name=".ui.timer.TimerActionSetActivity"/>
        <activity android:name=".ui.LocalIrCodeActivity" />
        <activity android:name=".ui.timer.TimerInfoSetActivity" />
        <activity android:name=".ui.timer.TimerListActivity" />
        <activity android:name=".ui.cotrol.CustomDevControlActivity" />
        <activity android:name=".ui.cotrol.DbTvStbDevControlActivity" />
        <activity android:name=".ui.TimezoneActivity" />
        <activity android:name=".ui.MainDeviceListActivity" />
        <activity android:name=".ui.adddevice.TestCodeActivity" />
        <activity android:name=".ui.adddevice.AddDbControlDevActivity" />
        <activity android:name=".ui.adddevice.AddSubDeviceActivity" />
        <activity android:name=".ui.cotrol.DbACDevControlActivity" />
        <activity android:name=".ui.SubDeviceListActivity" />
        <activity android:name=".ui.MainDeviceDetailActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>